<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">

<style>
h1 {
color: green;
font-size:16px;
}

h2{
  color: red;
  font-size: 14px;
}

p {
  color:grey;
  font-size: 12px;
  font-family: Lobster;
}
</style>
